.wpbc_calendar_blur_small{
filter: blur(0.7px);
pointer-events: none;
user-select: none;
}
.wpbc_calendar_blur{
filter: blur(1.2px);
pointer-events: none;
user-select: none;
}
.wpbc_spins_loader_wrapper {
position: absolute;
top: 50%;
left: 50%;
width: 1px;
height: 1px;
z-index: 1000;
} .wpbc_spins_loader {
display: block;
position: relative;
left: 50%;
top: 50%;
width: 70px;
height: 70px;
margin: -35px 0 0 -35px;
border-radius: 50%;
border: 2px solid transparent;
border-top-color: #2d6281;
-webkit-animation: wpbc_spin_r 2s linear infinite; animation: wpbc_spin_r 2s linear infinite; }
.wpbc_spins_loader:before {
content: "";
position: absolute;
top: 5px;
left: 5px;
right: 5px;
bottom: 5px;
border-radius: 50%;
border: 2px solid transparent;
border-top-color: #73983c;
-webkit-animation: wpbc_spin_r 3s linear infinite; animation: wpbc_spin_r 3s linear infinite; }
.wpbc_spins_loader:after {
content: "";
position: absolute;
top: 15px;
left: 15px;
right: 15px;
bottom: 15px;
border-radius: 50%;
border: 2px solid transparent;
border-top-color: #af2e2e;
-webkit-animation: wpbc_spin_r 1.5s linear infinite; animation: wpbc_spin_r 1.5s linear infinite; } .wpbc_spins_loader_mini {
display: block;
position: relative;
left: 50%;
top: 50%;
width: 30px;
height: 30px;
margin: -15px 0 0 -15px;
border-radius: 50%;
border: 2px solid transparent;
border-top-color: #2d6281;
-webkit-animation: wpbc_spin_r 1.1s linear infinite; animation: wpbc_spin_r 1.1s linear infinite; }
.wpbc_spins_loader_mini:before {
content: "";
position: absolute;
top: 2px;
left: 2px;
right: 2px;
bottom: 2px;
border-radius: 50%;
border: 2px solid transparent;
border-top-color: #73983c;
-webkit-animation: wpbc_spin_r 1.75s linear infinite; animation: wpbc_spin_r 1.75s linear infinite; }
.wpbc_spins_loader_mini:after {
content: "";
position: absolute;
top: 6px;
left: 6px;
right: 6px;
bottom: 6px;
border-radius: 50%;
border: 2px solid transparent;
border-top-color: #af2e2e;
-webkit-animation: wpbc_spin_r 1.85s linear infinite; animation: wpbc_spin_r 1.85s linear infinite; }
.wpbc_one_spin_loader_mini {
display: block;
position: relative;
left: 50%;
top: 50%;
width: 30px;
height: 30px;
margin: -15px 0 0 -15px;
border-radius: 50%;
border: 2px solid #2d6281;
border-top-color: transparent !important;
-webkit-animation: wpbc_spin_r 1.1s linear infinite; animation: wpbc_spin_r 1.1s linear infinite; } @-webkit-keyframes wpbc_spin_r {
0%   {
-webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
100% {
-webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes wpbc_spin_r {
0%   {
-webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
100% {
-webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes wpbc_spin_l {
100%   {
-webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
0% {
-webkit-transform: rotate(-360deg); -ms-transform: rotate(-360deg); transform: rotate(-360deg); }
}
@keyframes wpbc_spin_l {
0%   {
-webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
100% {
-webkit-transform: rotate(-360deg); -ms-transform: rotate(-360deg); transform: rotate(-360deg); }
} .wpbc_spins_loading_container{
text-align: center;
font-size: 14px;
display: flex;
flex-flow: row nowrap;
justify-content: center;
align-items: center;
height: 90px;
text-shadow: none;
}
.wpbc_spins_loading_container .wpbc_booking_form_spin_loader{
position: relative;
}
.wpbc_spins_loading_container span {
padding: 0;
margin: 0 0 0 35px;
font-size: 15px;
}